<div class="search">
	<h1 class="heading-1">Showbiz</h1>

	<form action="/results" method="GET">
		<input class="search__input btn" type="text" placeholder="search a movie" name="search">
	</form>
</div>
